node-red/data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Data Capture",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c19fc8a18bff1dd0",
        "type": "tab",
        "label": "Notifications",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "80b99021.9a4",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "PI"
    },
    {
        "id": "b23d8359c5c9ebfb",
        "type": "postgreSQLConfig",
        "name": "Timescale",
        "host": "timescale",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "POSTGRES_USERNAME",
        "userFieldType": "env",
        "password": "POSTGRES_PASSWORD",
        "passwordFieldType": "env"
    },
    {
        "id": "22d655552657cf36",
        "type": "soap-config-plus",
        "wsdl": "https://snia.mop.gob.cl/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService",
        "auth": "0",
        "user": "",
        "pass": "",
        "key": "",
        "cert": "",
        "token": ""
    },
    {
        "id": "cc3681ed0c802413",
        "type": "mqtt-broker",
        "name": "MQTT-Server",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fbd6fb10ebb4e77f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Toggler",
        "func": "let toggle = context.get('toggle') || 0;\n\ncontext.set(\"toggle\", !toggle);\n\nmsg.payload = !toggle;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 60,
        "wires": [
            [
                "801304a26341c444"
            ]
        ]
    },
    {
        "id": "801304a26341c444",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Toggler",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "603ffd2ea0bcbf2d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "fbd6fb10ebb4e77f"
            ]
        ]
    },
    {
        "id": "2afaa69856572546",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Listen-Python-I2C-Data",
        "topic": "sensor/i2c",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc3681ed0c802413",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "aca9796f6ef0f4e6"
            ]
        ]
    },
    {
        "id": "893673ea93e0e06f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "01851337b45d1169",
        "type": "aedes broker",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT-Broker-Server",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "6ef486e09cea5695"
            ],
            [
                "d25026e7f7ab4768"
            ]
        ]
    },
    {
        "id": "6ef486e09cea5695",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Broker Status Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "d25026e7f7ab4768",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Broker Publish Event",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "5646bff859abac17",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Request-Python-I2C-Data",
        "topic": "sensor/request",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc3681ed0c802413",
        "x": 370,
        "y": 200,
        "wires": []
    },
    {
        "id": "e87e3a1be91d7a3d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "5646bff859abac17"
            ]
        ]
    },
    {
        "id": "aca9796f6ef0f4e6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Calculo Caudal",
        "func": "/* \nRecibe se単ales de sensores de 4-20mA convertidas a\nvoltaje por medio de tarjeta.\nAI0 deberia ir sensor aforador, AI1 sensor rio.\n*/\n\nlet v_nivel_aforador = msg.payload.A0.voltage;\nlet v_nivel_rio = msg.payload.A1.voltage;\nlet h_nivel_aforador;\nlet h_nivel_rio;\nlet Q;\nmsg.sensors_status = '';\n\n// Si la corriente es menor a 4mA o voltaje leido en sensor de aforador es \n// menor a 0.6V (4mA * 150Ohm) hay un problema en el sensor, alimentacion de sensor,\n// cable, terminales o tarjeta conversora de corriente a voltaje.\n//if(v_nivel_aforador < 0.5 && v_nivel_rio < 0.5){\n//  msg.sensors_status = \"AI0 error - AI1 error\";\n//  msg.payload = \"Se単ales en AI0 y AI1 no detectadas, posible problema con tarjeta interfaz o alimentacion.\";\n//  return msg;\n//}\n\n// Medicion AI0 con error\nif (v_nivel_aforador < 0.5) {\n  msg.sensors_status = \"AI0 error\";\n  //msg.payload = \"Se単al en AI0 no detectada, posible problema con sensor, conexion o tarjeta interfaz.\";\n}\n// Medicion AI0 ok\nelse{\n  msg.sensors_status = \"AI0 ok\";\n\n  // Calcular profundidad nivel rio segun voltajes\n  h_nivel_aforador = (0.21 - 0.0) / (0.855 - 0.6) * (v_nivel_aforador - 0.6) + 0.0;\n  if (h_nivel_aforador < 0) h_nivel_aforador = 0;\n\n  // Caudal canal segun curva carga\n  Q = -0.06618 + 1.02186 * h_nivel_aforador + 1.3391 * h_nivel_aforador * h_nivel_aforador;\n  if (Q < 0) Q = 0;\n}\n\n// Medicion AI1 con error\nif (v_nivel_rio < 0.5) {\n  if(msg.sensors_status == 'AI0 ok') msg.sensors_status = \"AI0 ok - AI1 error\";\n  else if(msg.sensors_status == 'AI0 error') msg.sensors_status = \"AI0 error - AI1 error\";\n  //msg.payload = \"Se単al en AI1 no detectada, posible problema con sensor, conexion o tarjeta interfaz.\";\n}\n// Medicion AI2 ok\nelse{\n  if(msg.sensors_status == 'AI0 ok') msg.sensors_status = \"AI0 ok - AI1 ok\";\n  else if (msg.sensors_status == \"AI0 error\") msg.sensors_status = \"AI0 error - AI1 ok\";\n\n  // Calcular profundidad nivel rio segun voltajes\n  h_nivel_rio = (0.21 - 0.0) / (0.855 - 0.6) * (v_nivel_rio - 0.6) + 0.0;\n  if (h_nivel_rio < 0) h_nivel_rio = 0;\n}\n\n\nmsg.payload = {\n  v_nivel_aforador: v_nivel_aforador,\n  h_nivel_aforador: h_nivel_aforador,\n  caudal: Q,\n  v_nivel_rio: v_nivel_rio,\n  h_nivel_rio: h_nivel_rio\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 300,
        "wires": [
            [
                "893673ea93e0e06f",
                "cb9939cec12d3f14"
            ]
        ]
    },
    {
        "id": "cc9d55b43af50ae2",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar registro",
        "query": "INSERT INTO registros (fecha_hora,\n    id_obra,\n    nivel_aforador,\n    nivel_limnimetrico,\n    caudal)\n    VALUES (NOW(), \n    1,\n    {{{ msg.payload.h_nivel_aforador }}},\n    {{{ msg.payload.h_nivel_rio }}},\n    {{{ msg.payload.caudal }}});",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 580,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7e5414a1f36aa5d0",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Solcitud a script de Python via MQTT para obtener datos de sensores",
        "info": "",
        "x": 270,
        "y": 160,
        "wires": []
    },
    {
        "id": "8d9d8c4c386abdd8",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Respuesta script Python via MQTT con dato de sensores",
        "info": "",
        "x": 230,
        "y": 260,
        "wires": []
    },
    {
        "id": "cb9939cec12d3f14",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "Check Sensors Status",
        "property": "sensors_status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "AI0 ok - AI1 ok",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AI0 ok - AI1 error",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AI0 error - AI1 ok",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AI0 error - AI1 error",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "cc9d55b43af50ae2",
                "fbb8cb6a345fcb16"
            ],
            [
                "e9b44f1554831495",
                "e83b0bdea9460b7e"
            ],
            [
                "9b6d4c82b9fbfae3",
                "2d6451217a839fa1"
            ],
            [
                "d370cfe850661090"
            ]
        ]
    },
    {
        "id": "806a832b1788d2bc",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar log evento",
        "query": "INSERT INTO logs_eventos (fecha_hora,\n    id_obra,\n    tipo_log,\n    evento)\n    VALUES (NOW(), \n    1,\n    'Info',\n    'Sensores AI0 ok y AI1 ok.');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 710,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fbb8cb6a345fcb16",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "sensors_status",
        "topi": "topic",
        "x": 550,
        "y": 420,
        "wires": [
            [
                "806a832b1788d2bc"
            ]
        ]
    },
    {
        "id": "7c4b9669afa86c17",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Sensores AI0 ok y AI1 ok.",
        "info": "",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "e9b44f1554831495",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar registro",
        "query": "INSERT INTO registros (fecha_hora,\n    id_obra,\n    nivel_aforador,\n    caudal)\n    VALUES (NOW(), \n    1,\n    {{{ msg.payload.h_nivel_aforador }}},\n    {{{ msg.payload.caudal }}});",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 580,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "13a179d8fadae9f7",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar log evento",
        "query": "INSERT INTO logs_eventos (fecha_hora,\n    id_obra,\n    tipo_log,\n    evento)\n    VALUES (NOW(), \n    1,\n    'Warning',\n    'Sensores AI0 ok y AI1 con error.');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 710,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e83b0bdea9460b7e",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "sensors_status",
        "topi": "topic",
        "x": 550,
        "y": 540,
        "wires": [
            [
                "13a179d8fadae9f7"
            ]
        ]
    },
    {
        "id": "9b6d4c82b9fbfae3",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar registro",
        "query": "INSERT INTO registros (fecha_hora,\n    id_obra,\n    nivel_limnimetrico)\n    VALUES (NOW(), \n    1,\n    {{{ msg.payload.h_nivel_rio }}});",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 580,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "900c81dded15c8e1",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar log evento",
        "query": "INSERT INTO logs_eventos (fecha_hora,\n    id_obra,\n    tipo_log,\n    evento)\n    VALUES (NOW(), \n    1,\n    'Error',\n    'Sensores AI0 con error y AI1 ok.');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 710,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "2d6451217a839fa1",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "sensors_status",
        "topi": "topic",
        "x": 550,
        "y": 660,
        "wires": [
            [
                "900c81dded15c8e1"
            ]
        ]
    },
    {
        "id": "3d0549b015dcaca6",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar log evento",
        "query": "INSERT INTO logs_eventos (fecha_hora,\n    id_obra,\n    tipo_log,\n    evento)\n    VALUES (NOW(), \n    1,\n    'Error',\n    '{{{ Sensores AI0 con error y AI1 con error. }}}');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 710,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d370cfe850661090",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "sensors_status",
        "topi": "topic",
        "x": 550,
        "y": 720,
        "wires": [
            [
                "3d0549b015dcaca6"
            ]
        ]
    },
    {
        "id": "d70221df9bc26792",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Sensores AI0 ok y AI1 con error.",
        "info": "",
        "x": 810,
        "y": 480,
        "wires": []
    },
    {
        "id": "00f47499516a0d61",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Sensores AI0 con error y AI1 ok.",
        "info": "",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "ad5c0a9667af641d",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Sensores AI0 con error y AI1 con error.",
        "info": "",
        "x": 970,
        "y": 720,
        "wires": []
    },
    {
        "id": "b234123a.c95f5",
        "type": "debug",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "09c5185b84028af8",
        "type": "inject",
        "z": "c19fc8a18bff1dd0",
        "name": "Email test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Test subject",
        "payload": "This is a test",
        "payloadType": "str",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "ab24375cb61c90bf"
            ]
        ]
    },
    {
        "id": "ab24375cb61c90bf",
        "type": "e-mail",
        "z": "c19fc8a18bff1dd0",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "philippe.ilharreguy@gmail.com",
        "dname": "PI email",
        "x": 260,
        "y": 100,
        "wires": []
    },
    {
        "id": "9ae215cb4e377e36",
        "type": "debug",
        "z": "c19fc8a18bff1dd0",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "68926513297359aa",
        "type": "function",
        "z": "c19fc8a18bff1dd0",
        "name": "GetSOAP",
        "func": "\nlet newmsg = {\n    server: \"https://snia.mop.gob.cl/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService\",\n    options: {\n        overrideRootElement: {\n            \"namespace\": \"get\",\n            \"xmlnsAttributes\": [{\n                \"name\": \"xmlns:get\",\n                \"value\": \"http://www.mop.cl/controlextraccion/xsd/datosExtraccion/GetDataExtraccionRequest\"\n            }]\n        }\n    },\n    headers: {},\n    payload: {\n            codigoDeLaObra: \"OB-1402-497\",\n            numeroComprobante: \"9258b8f7140de6ef6f0b7d710158ce8b\"\n    }\n};\n\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 160,
        "wires": [
            [
                "dd90b7fa6e9340fa"
            ]
        ]
    },
    {
        "id": "67ab826ef7fe7aae",
        "type": "inject",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "68926513297359aa"
            ]
        ]
    },
    {
        "id": "dd90b7fa6e9340fa",
        "type": "soap request plus",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "topic": "",
        "wsdl": "22d655552657cf36",
        "method": "getDataExtraccionOp",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "9ae215cb4e377e36"
            ],
            [
                "9ae215cb4e377e36"
            ]
        ]
    },
    {
        "id": "89a9d9dc6ab10b5c",
        "type": "http request",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://snia.mop.gob.cl/controlextraccion/datosExtraccion/SendDataExtraccionService",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 680,
        "wires": [
            [
                "cb19acad88ea8ad8",
                "ed77c53d5e36c072"
            ]
        ]
    },
    {
        "id": "b5bf5f268a9ed3a7",
        "type": "function",
        "z": "c19fc8a18bff1dd0",
        "name": "PutSOAP",
        "func": "\nmsg.headers = {\n    'Content-Type': 'text/xml;charset=UTF-8',\n    'SOAPAction': 'http://www.mop.cl/controlextraccion/wsdl/datosExtraccion/authSendDataExtraccionOp'\n};\n\nmsg.payload = \n`<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:aut=\"http://www.mop.cl/controlextraccion/xsd/datosExtraccion/AuthSendDataExtraccionRequest\">\n   <soapenv:Header>\n      <aut:authSendDataExtraccionTraza>\n         <aut:codigoDeLaObra>OB-1402-497</aut:codigoDeLaObra>\n         <aut:timeStampOrigen>2024-09-02T14:01:00Z</aut:timeStampOrigen>\n      </aut:authSendDataExtraccionTraza>\n   </soapenv:Header>\n   <soapenv:Body>\n      <aut:authSendDataExtraccionRequest>\n         <aut:authDataUsuario>\n            <aut:idUsuario>\n               <aut:rut>16338539-2</aut:rut>\n            </aut:idUsuario>\n            <aut:password>MkMKg69nO2</aut:password>\n         </aut:authDataUsuario>\n         <!--You have a CHOICE of the next 2 items at this level-->\n         <!--Optional:-->\n         <aut:authDataExtraccionSuperficial>\n            <aut:fechaMedicion>02-09-2024</aut:fechaMedicion>\n            <aut:horaMedicion>14:01:00</aut:horaMedicion>\n            <aut:caudal>10</aut:caudal>\n            <aut:alturaLimnimetrica>1</aut:alturaLimnimetrica>\n         </aut:authDataExtraccionSuperficial>\n      </aut:authSendDataExtraccionRequest>\n   </soapenv:Body>\n</soapenv:Envelope>`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 680,
        "wires": [
            [
                "89a9d9dc6ab10b5c"
            ]
        ]
    },
    {
        "id": "ed77c53d5e36c072",
        "type": "debug",
        "z": "c19fc8a18bff1dd0",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 700,
        "wires": []
    },
    {
        "id": "cb19acad88ea8ad8",
        "type": "xml",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 230,
        "y": 740,
        "wires": [
            [
                "5ad961939d054b56"
            ]
        ]
    },
    {
        "id": "5ad961939d054b56",
        "type": "function",
        "z": "c19fc8a18bff1dd0",
        "name": "ExtractResponse",
        "func": "let httpStatusCode;\nlet data;\nlet comprobante;\nlet status;\nlet newmsg = {};\n\nhttpStatusCode = msg.statusCode;\ndata = msg.payload[\"soapenv:Envelope\"][\"soapenv:Body\"][0][\"authSendDataExtraccionResponse\"][0];\ncomprobante = data[\"numeroComprobante\"][0];\nstatus = data[\"status\"][0];\n\nnewmsg[\"httpStatusCode\"] = httpStatusCode;\nnewmsg[\"comprobante\"] = comprobante;\nnewmsg[\"codigo\"] = status[\"Code\"][0];\nnewmsg[\"descripcion\"] = status[\"Description\"][0];\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 740,
        "wires": [
            [
                "ed77c53d5e36c072"
            ]
        ]
    },
    {
        "id": "fcb51e4af2e157b9",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "credtype": "account",
        "account": "80b99021.9a4",
        "text": "alert_message",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": true,
        "x": 220,
        "y": 40,
        "wires": [
            [
                "b234123a.c95f5"
            ]
        ]
    },
    {
        "id": "244baeffbb9733b7",
        "type": "inject",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 680,
        "wires": [
            [
                "b5bf5f268a9ed3a7"
            ]
        ]
    },
    {
        "id": "6b9dcce09517d5be",
        "type": "comment",
        "z": "c19fc8a18bff1dd0",
        "name": "Descripcion logica",
        "info": "Cada x minutos enviar registro mas antiguo no enviado\n\nQuedan registros por mandar?\nSi: intenta enviar\nNo: no se intenta enviar\n",
        "x": 110,
        "y": 220,
        "wires": []
    },
    {
        "id": "1586e2347ef23312",
        "type": "inject",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "ad01ed3eca76398e"
            ]
        ]
    },
    {
        "id": "ad01ed3eca76398e",
        "type": "postgresql",
        "z": "c19fc8a18bff1dd0",
        "name": "Query Registros Hora",
        "query": "SELECT * FROM registros_hora\nWHERE bucket < date_trunc('hour', now())\nAND id_obra = 1\nAND estado_dga <> 'enviado - ok'\nORDER BY bucket ASC;",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 300,
        "y": 280,
        "wires": [
            [
                "d166a3e61c85fd73"
            ]
        ]
    },
    {
        "id": "356fa6003b59a4df",
        "type": "debug",
        "z": "c19fc8a18bff1dd0",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 400,
        "wires": []
    },
    {
        "id": "d166a3e61c85fd73",
        "type": "function",
        "z": "c19fc8a18bff1dd0",
        "name": "PutSOAP",
        "func": "// Se revisa que hayan datos no enviados o con error de envio en Timescale.\nif(msg.payload[0] === undefined){\n   msg.payload = 'No data to send';\n   return msg;\n}\n\n// Obtener codigo de DGA\nlet dga_codigo = env.get('DGA_CODIGO')\n\n// Se generan formatos de fechas. Servidor esta con timezone.\nconst timestamp = new Date(msg.payload[0].bucket);\nconst timestamp_no_ms = timestamp.toISOString().split('.')[0] + 'Z';\nconst options = { timeZone: 'America/Santiago' };\nconst timestamp_local = new Date(timestamp.toLocaleString('en-US', options));\n\nconst date_local = timestamp_local.toLocaleDateString('en-GB', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric'\n}).split('/').join('-');\n\nconst time = timestamp_local.toISOString().split('T')[1].split('.')[0];\n\nconst caudal_L_s = (msg.payload[0].avg_caudal*1000).toFixed(2);\nconst profundidad_mm = (msg.payload[0].avg_nivel_aforador*1000).toFixed(0);\n\n// Guardar id de query para actualizar despues.\nmsg.id_composite = {\n   timestamp_no_ms: timestamp_no_ms,\n   id_obra: msg.payload[0].id_obra\n};\n\n/*\nmsg.payload = {bucket: msg.payload[0].bucket,\n   timestamp: timestamp, timestamp_no_ms: timestamp_no_ms,\n   date_local: date_local, time: time, caudal: caudal_L_s};\nreturn msg;\n*/\n\nmsg.headers = {\n    'Content-Type': 'text/xml;charset=UTF-8',\n    'SOAPAction': 'http://www.mop.cl/controlextraccion/wsdl/datosExtraccion/authSendDataExtraccionOp',\n    'Host': 'snia.mop.gob.cl'\n};\n\nmsg.payload = \n`<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:aut=\"http://www.mop.cl/controlextraccion/xsd/datosExtraccion/AuthSendDataExtraccionRequest\">\n   <soapenv:Header>\n      <aut:authSendDataExtraccionTraza>\n         <aut:codigoDeLaObra>${dga_codigo}</aut:codigoDeLaObra>\n         <aut:timeStampOrigen>${timestamp_no_ms}</aut:timeStampOrigen>\n      </aut:authSendDataExtraccionTraza>\n   </soapenv:Header>\n   <soapenv:Body>\n      <aut:authSendDataExtraccionRequest>\n         <aut:authDataUsuario>\n            <aut:idUsuario>\n               <aut:rut>16338539-2</aut:rut>\n            </aut:idUsuario>\n            <aut:password>MkMKg69nO2</aut:password>\n         </aut:authDataUsuario>\n         <aut:authDataExtraccionSuperficial>\n            <aut:fechaMedicion>${date_local}</aut:fechaMedicion>\n            <aut:horaMedicion>${time}</aut:horaMedicion>\n            <aut:caudal>${caudal_L_s}</aut:caudal>\n            <aut:alturaLimnimetrica>${profundidad_mm}</aut:alturaLimnimetrica>\n         </aut:authDataExtraccionSuperficial>\n      </aut:authSendDataExtraccionRequest>\n   </soapenv:Body>\n</soapenv:Envelope>`;\n\nmsg.soap_request = msg.payload;\n\ndelete msg.pgsql;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 80,
        "y": 340,
        "wires": [
            [
                "7fd3ab3ed7b58461"
            ]
        ]
    },
    {
        "id": "d8df1f317d9e5ea8",
        "type": "http request",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://snia.mop.gob.cl/controlextraccion/datosExtraccion/SendDataExtraccionService",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 340,
        "wires": [
            [
                "92d200e06ac25b0f"
            ]
        ]
    },
    {
        "id": "92d200e06ac25b0f",
        "type": "xml",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "9b32cbcc762bfc04"
            ]
        ]
    },
    {
        "id": "9b32cbcc762bfc04",
        "type": "function",
        "z": "c19fc8a18bff1dd0",
        "name": "ExtractResponse",
        "func": "let httpStatusCode = msg.statusCode;\nlet soap_data;\nlet status;\nlet new_payload = {};\n\nmsg.xml = msg.payload;\n\n// Intenta acceder a informacion. Si no puede, servidor de DGA\n// genero error intentando.\ntry {\n    soap_data = msg.payload[\"soapenv:Envelope\"][\"soapenv:Body\"][0][\"authSendDataExtraccionResponse\"][0];\n}\ncatch (error) {\n    new_payload[\"estado_dga\"] = 'enviado - error';\n    new_payload[\"comprobante_dga\"] = 0;\n    msg.payload = new_payload;\n    return msg;\n}\n\nnew_payload[\"httpStatusCode\"] = httpStatusCode;\nnew_payload[\"comprobante_dga\"] = soap_data[\"numeroComprobante\"][0];\n\nstatus = soap_data[\"status\"][0];\nnew_payload[\"codigo_dga\"] = status[\"Code\"][0];\nnew_payload[\"descripcion\"] = status[\"Description\"][0];\n\nif (new_payload[\"codigo_dga\"] == 0){\n    new_payload[\"estado_dga\"] = 'enviado - ok';\n}\nelse{\n    new_payload[\"estado_dga\"] = 'enviado - error';\n}\n\nmsg.payload = new_payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 400,
        "wires": [
            [
                "635fa7ee3059fb8c",
                "356fa6003b59a4df",
                "1e5180b8a60ac9d0"
            ]
        ]
    },
    {
        "id": "7fd3ab3ed7b58461",
        "type": "switch",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "No data to send",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "d8df1f317d9e5ea8"
            ]
        ]
    },
    {
        "id": "635fa7ee3059fb8c",
        "type": "postgresql",
        "z": "c19fc8a18bff1dd0",
        "name": "Update Registro",
        "query": "UPDATE registros_hora\n    SET estado_dga = '{{{ msg.payload.estado_dga }}}',\n        comprobante_dga = '{{{ msg.payload.comprobante_dga }}}',\n        fecha_actualizacion = NOW()\n    WHERE bucket = '{{{ msg.id_composite.timestamp_no_ms }}}'\n    AND id_obra = {{{ msg.id_composite.id_obra }}};",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 340,
        "y": 520,
        "wires": [
            [
                "234f2217f7419470"
            ]
        ]
    },
    {
        "id": "234f2217f7419470",
        "type": "postgresql",
        "z": "c19fc8a18bff1dd0",
        "name": "Query Registros Pendientes",
        "query": "select count(*) AS registros_pendientes\nfrom registros_hora\nwhere \"estado_dga\" <> 'enviado - ok';",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 560,
        "y": 520,
        "wires": [
            [
                "2cd964c87b09a7be"
            ]
        ]
    },
    {
        "id": "2cd964c87b09a7be",
        "type": "debug",
        "z": "c19fc8a18bff1dd0",
        "name": "Registros pendientes",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload[0]",
        "statusType": "msg",
        "x": 800,
        "y": 520,
        "wires": []
    },
    {
        "id": "120c1fefba4f8be0",
        "type": "comment",
        "z": "c19fc8a18bff1dd0",
        "name": "Si hubo error",
        "info": "",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "bf9a568f9ee01888",
        "type": "postgresql",
        "z": "c19fc8a18bff1dd0",
        "name": "Insertar log evento",
        "query": "INSERT INTO logs_eventos (fecha_hora,\n    id_obra,\n    tipo_log,\n    evento)\n    VALUES (NOW(), \n    1,\n    'Warning',\n    'Problema al enviar datos a la DGA.');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 590,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1e5180b8a60ac9d0",
        "type": "rbe",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload[\"estado_dga\"]",
        "topi": "topic",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "13665b127de89330"
            ]
        ]
    },
    {
        "id": "13665b127de89330",
        "type": "switch",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "property": "payload[\"estado_dga\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "enviado - error",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "enviado - ok",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 460,
        "wires": [
            [
                "bf9a568f9ee01888"
            ],
            [
                "d516e0c90551f04a"
            ]
        ]
    },
    {
        "id": "d516e0c90551f04a",
        "type": "postgresql",
        "z": "c19fc8a18bff1dd0",
        "name": "Insertar log evento",
        "query": "INSERT INTO logs_eventos (fecha_hora,\n    id_obra,\n    tipo_log,\n    evento)\n    VALUES (NOW(), \n    1,\n    'Info',\n    'Enviando datos a la DGA.');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 590,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2b8d50855463e1e6",
        "type": "comment",
        "z": "c19fc8a18bff1dd0",
        "name": "No hubo error",
        "info": "",
        "x": 770,
        "y": 460,
        "wires": []
    }
]